<!-- -*- mode: html; tab-width: 4; coding: utf-8; -*- -->
<div class="wrap">
  <div id="message" class="error error-message">
	<p><?= nl2br(htmlspecialchars(implode("\n", $nn4_estate_last_err_msg))) ?></p>
  </div>
</div>
